body {
  align-self: center;
}

header {
  text-align: center;
}

header img {
  width: 250px;
}

main {
  width: 100%;
  text-align: center;
}

.imgfocaccia {
  border-radius: 40px;
  box-shadow: 0 10px 20px black;
}
